---
import RootLayout from "../layouts/RootLayout.astro";
import TerminalWindow from "../components/TerminalWindow.astro";
import InfoModule from "../components/InfoModule.astro";
import UnsplashModule from "../components/UnsplashModule.astro";

---

<RootLayout title="bbellini.io">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div>
      <InfoModule />
    </div>
    
    <div>
      <TerminalWindow 
        title="STARTPAGES" 
        titleClass="text-[8px] uppercase"
        contentClass="text-[8px]"
        windowClass="w-full"
      >
        <div class="directory-links space-y-1">
          <div class="link-item">
            <span class="text-accent">$</span>
            <a 
              href="/prime" 
              class="text-secondary hover:text-accent hover:underline transition-colors font-sharp-alt ml-1"
            >
              PRIME
            </a>
          </div>
          <div class="link-item">
            <span class="text-accent">$</span>
            <a 
              href="/alt" 
              class="text-secondary hover:text-accent hover:underline transition-colors font-sharp-alt ml-1"
            >
              ALT
            </a>
          </div>
        </div>
      </TerminalWindow>
    </div>
    
    <div>
      <UnsplashModule />
    </div>
  </div>
</RootLayout>
