---
import RootLayout from "../../layouts/RootLayout.astro";
import TerminalWindow from "../../components/TerminalWindow.astro";
---

<RootLayout title="Weather | bbellini.io">
  <TerminalWindow title="WEATHER" windowClass="max-w-2xl">
    <p class="font-sharp-alt text-[8px] mb-2">TEMPORARY WEATHER EXPERIMENT</p>
    <p class="font-sharp-alt text-[8px]">$ WEATHER DATA COMING SOON...</p>
  </TerminalWindow>
</RootLayout>
