:root {
    --bgColor: #08070a;
    --textColor: #b3c9d3;
    --linkColor: var(--textColor);
    --textColorHover: #ffffff;
    /* background: linear-gradient(45deg, rgba(255, 0, 230, 1) 0%, rgba(0, 204, 255, 1) 100%); */
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:cadetblue;
    /* background-image: linear-gradient(to right top, #fe00ff, #b46dff, #5f8eff, #00a0ff, #12a9eb); */
    height: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
}

input {
    width: 15rem;
    height: 1.5rem;
    font-size: medium;
    color: white;
    opacity: 75%;
    border-radius: .25rem;
    box-shadow: none;
    outline: none;
    border: none;
    
}


.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    margin-top: 5rem;
    /* outline-style: solid;
    outline-color: #b3c9d3;
    outline-width: 1px; */
}

.search {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* width: auto; */
    
}

.search-box{
 color: black;
}
