:root {
  --bgColor: #08070a;
  --textColor: #b3c9d3;
  --linkColor: var(--textColor);
  --textColorHover: #ffffff;
}

@font-face {
  font-family: "cozette";
  src: url("../fonts/CozetteVector.ttf");
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  background: var(--bgColor);
  color: var(--textColor);
  border: #b3c9d3;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

a {
  color: var(--linkColor);
  text-decoration: underline;
  margin-top: .2rem;
}

a > div:hover {
    color: var(--textColorHover)
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  margin-top: 20rem;
  outline-style: solid;
  outline-color: #b3c9d3;
  outline-width: 1px;
}

.flex-top-bar {
  display: flex;
  flex-direction: row;
}

.top-bar {
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;

}

.flex-center {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.center-box {
  flex-direction: column;
  display: flex;
  margin: .75rem;
  padding-bottom: 1rem;
}

.flex-bottom-bar {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  color: var(--bgColor);
  background-color: var(--textColor);
}

.botton-bar {
  padding: 0.5rem;
}

.search-form {
    width: 20rem;
    outline: none;
    border: none;
    color: var(--textColor);
    background-color: var(--bgColor);
    font-family: "Source Code Pro", monospace;
    padding-left: .4rem;
    caret-color: var(--textColor);
}


.tilde {
    color: #FF0000;
}

/* .blinker {
    opacity: 1;
    margin-bottom: -2px;
    height: 15px;
    margin-left: -5px;
    border-left: 3px solid yellow;
    animation: blinker 0.9s steps(2, start) infinite;
  }
  
  @keyframes blinker {
    to { 
      visibility: hidden; 
    }
  }
   */
